<div *mobxAutorun>
    <nav></nav>
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <p>{{actorOrchestrator.store.currentActor.name}}</p>
        </div>
        <img class="actor-image" [src]="actorOrchestrator.store.currentActor.image?.original">
    </div>
    <div class="row offset-md-1">
        <div class="show-item" *ngFor="let show of actorOrchestrator.store.currentActorShows" (click)="navigate(show)">
            {{show.name}}<br>
            <img [src]="show.image?.medium">
        </div>
    </div>
</div>
