<div *mobxAutorun>
    <div class="topbar row offset-md-1">
        <search class="col-md-5" (criteriaChanged)="doSearch()"></search>
        <div class="col-md-5 toggle-switch">
            <input #loggedIn type="checkbox" id="toggle_1" [checked]="topBarOrchestrator.store.isLoggedIn"
                   (change)="setLoggedIn(loggedIn.checked)">
            <label for="toggle_1">Act as logged in</label>
        </div>
    </div>
    <div class="row offset-md-1">
        <div class="show" *ngFor="let show of showOrchestrator.store.shows" (click)="navigate(show)">
            <img [src]="show.image.medium"><br>
            <span>{{show.name}}</span><br>
            <span *ngFor="let genre of show.genres">{{genre}}, </span>
        </div>
    </div>

    <div class="blocked" *ngIf="topBarOrchestrator.store.isBlocked" (click)="topBarOrchestrator.store.setIsBlocked(false)">
        <div class="blocked-content">
            User is blocked! Please log in!
        </div>
    </div>
</div>


