.show {
    margin: 10px;
    cursor: pointer;
}

.topbar {
    display: flex;
    align-items: center;
}

.blocked {
    z-index: 999;
    width: 100%;
    display: block;

    .blocked-content {
        border-radius: 7px;
        background: rgba(255, 255, 255, 0.9);
        margin: 30px auto 0;
        padding: 6px;
        position: absolute;
        width: 800px;
        top: 25%;
        left: 50%;
        margin-left: -400px;
        margin-top: -40px;
        border: 1px solid black;
    }
}